*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navButtons{
    display: flex;
    padding: 10px;
}
.navItems{
    padding: 10px;
}
.h1{
    text-align: center;
    text-decoration: dotted;
}